__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Logs
*.log

# Outputs / checkpoints
output/
**/output/
checkpoints/
wandb/
jobs/
**/jobs/
logs/
**/logs/

# Model files
*.pt
*.pth
*.ckpt

# large geometry/data
*.ply
*.npy

# CUDA / extension build artifacts
build/
dist/

*.so
*.o
*.a

*.ninja*
*.egg-info/

# Optional: env folders
.env