# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Logs
*.log

# Outputs / checkpoints
outputs/
checkpoints/
wandb/
jobs/
logs/

# Model files
*.pt
*.pth
*.ckpt

# CUDA / extension build artifacts
build/
dist/

*.so
*.o
*.a

*.ninja*
*.egg-info/

# Optional: env folders
.env
venv/